# checked out state repo during running
./state-repo

# some logs
firebase-debug.log
firestore-debug.log
ui-debug.log

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
